<div class="modal fade" id="loginForm" tabindex="-1" aria-labelledby="Контейнер с формой входа" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Вход</h5>
        <button type="button" class="btn btn-light border-dark close" data-bs-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{% url 'login' %}">
        <div class="modal-body">
          {% csrf_token %}
          <div class="row row-cols-1 row-cols-md-2 g-2">
            {% for field in login_form %}
                <div class="col">
                    <label class="form-label fs-6" for="id_{{ field.name }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <a class="btn btn-warning" href="{% url 'password_reset' %}">Восстановить пароль</a>
          <button type="submit" class="btn btn-success">Войти</button>
        </div>
      </form>
    </div>
  </div>
</div>