{% extends 'base/base.html' %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block main_content %}
    <h1 class="text-center m-5">Сброс пароля</h1>
    <form action="{% url 'password_reset' %}" method="post" class="card m-1 border-2">
        <h2 class="card-header">Форма регистрации</h2>
        <div class="card-body">
            {% csrf_token %}
            {% for field in form %}
                <div class="card-text col">
                    <label class="form-label fs-5" for="id_{{ field.name }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <div class="card-footer text-center">
            <input type="submit" class="btn btn-primary border-2" value="Отправить письмо для сброса пароля">
        </div>
    </form>
{% endblock %}