{% extends 'base/base.html' %}
{% block title %}
    Аккаунт активирован
{% endblock %}

{% block main_content %}
    <div class="card m-5">
        <h1 class="card-header text-center">Регистрация почти завершена!</h1>
        <h3 class="card-body">Для завершения подтвердите указанный при регистрации адерс электронной почты через высланное на него письмо</h3>
        <div class="card-footer text-center">
            <a class="btn btn-primary" href="{% url 'index' %}">На главную</a>
        </div>
    </div>
{% endblock %}