<div class="row row-cols-1 gy-3">
    {% for notes_dict_l1 in notes_list_l1 %}
        {% if notes_dict_l1.list %}
        <div class="col">
            <div class="card border-2 border-{{ notes_dict_l1.class_postfix }}">
                <div class="card-header d-flex justify-content-between">
                    <h3>{{ notes_dict_l1.name }}</h3>
                    <button class="btn btn-{{ notes_dict_l1.class_postfix }}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ notes_dict_l1.id }}">
                        <i class="bi bi-arrow-down-up"></i>
                    </button>
                </div>
                <div class="card-body collapse p-1 p-md-3" id="{{ notes_dict_l1.id }}">
                    <div class="row row-cols-1 row-cols-md-3 g-2 g-md-3 justify-content-around">
                        {% for note in notes_dict_l1.list %}
                            <div class="col">
                                {% include 'base/one_note_card.html' %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
