{% if notes_dict.list %}
<div class="col">
    <div class="card border-2 border-{{ notes_dict.class }}">
        <div class="card-header d-flex justify-content-between">
            <h3>{{ notes_dict.name }}</h3>
            <button class="btn btn-{{ notes_dict.class }}" type="button" data-toggle="collapse" data-target="#me2other_{{ notes_dict.class }}">
                <i class="fs-3 fas fa-arrow-circle-down"></i>
            </button>
        </div>
        <div class="card-body collapse" id="me2other_{{ notes_dict.class }}">
            <div class="row row-cols-1 row-cols-md-3 g-2 g-md-3">
                {% for note in notes_dict.list %}
                    <div class="col">
                        <div class="card border-2">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        Записан к пользователю:
                                        <a class="link" href="{{ note.service.provider.get_absolute_url }}">
                                            {{ note.service.provider }}
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        Услуга -
                                        <a class="link" href="{{ note.service.get_absolute_url }}">
                                            {{ note.service }}
                                        </a>
                                    </li>
                                    <li class="list-group-item font-monospace">
                                        <a class="link font-monospace" href="{{ note.get_absolute_url }}">
                                            {{ note.date }}
                                        </a>
                                    </li>
                                    <li class="list-group-item font-monospace">
                                        {{ note.time_start }} - {{ note.time_end }}
                                    </li>
                                    <li class="list-group-item">
                                        Статус - <span class="text-{{ note.status_css }}">{{ note.status_name }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#" class="btn btn-danger border-1 border-dark">Отменить</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}