<div class="row row-cols-1 gy-3">
    {% for notes_dict_l2 in notes_list_l2 %}
        {% if notes_dict_l2.list %}
        <div class="col">
            <div class="card border-2 border-{{ notes_dict_l2.class_postfix }}">
                <div class="card-header d-flex justify-content-between">
                    <h3>{{ notes_dict_l2.name }}</h3>
                    <button class="btn btn-{{ notes_dict_l2.class_postfix }}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ notes_dict_l2.id  }}">
                        <i class="bi bi-arrow-down-up"></i>
                    </button>
                </div>
                <div class="card-body collapse p-1 p-md-3" id="{{ notes_dict_l2.id  }}">
                    {% with notes_list_l1=notes_dict_l2.list %}
                        {% include 'base/notes_list.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
        {% endif %}
    {% empty %}
        <div class="col text-center h3">
            Список пуст
        </div>
    {% endfor %}
</div>
