<div class="card border-2">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h3 class="font-monospace">
            {{ note.time_start }} - {{ note.time_end }}
        </h3>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#note_{{ note.id }}">
            <i class="bi bi-arrow-down-up"></i>
        </button>
    </div>
    <div class="collapse" id="note_{{ note.id }}">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% if not service %}
                    <li class="list-group-item d-flex justify-content-between">
                        <h5>Поставщик: </h5>
                        <a class="link font-monospace" href="{% url 'profile' note.provider.pk %}">
                            {{ note.provider }}
                        </a>
                    </li>
                {% endif %}
                {% if note.provider_addition %}
                    <li class="list-group-item">
                        <h5>Комментарий поставщика: </h5>
                        <span>{{ note.provider_addition }}</span>
                    </li>
                {% endif %}
                <li class="list-group-item">
                    <span class="fs-5 text-{{ note.status_css }}">{{ note.get_status_display }}</span>
                </li>
                {% if user == note.provider or user == note.client %}
                    {% if note.client %}
                        <li class="list-group-item d-flex justify-content-between">
                            <h5>Клиент: </h5>
                            <a class="link font-monospace" href="{% url 'profile' note.client.pk %}">
                                {{ note.client }}
                            </a>
                        </li>
                    {% endif %}
                    {% if note.client_addition %}
                        <li class="list-group-item">
                            <h5>Комментарий клиента: </h5>
                            <span>{{ note.client_addition }}</span>
                        </li>
                    {% endif %}
                {% endif %}
                {% if not service %}
                    <li class="list-group-item">
                        <a class="link font-monospace" href="{{ note.get_absolute_url }}">
                            {{ note.service.label }}, {{ note.date }}
                        </a>
                    </li>
                {% endif %}
                {% if note.is_free and can_record %}
                    <li class="list-group-item">
                        <form method="post" action="{{ note.get_record_url }}">
                            {% csrf_token %}
                            <div class="row row-cols-1 g-2">
                                <div class="col">
                                    {{ record_form.client_addition }}
                                </div>
                                <div class="col text-center">
                                    <input class="btn btn-success" type="submit" value="Записаться">
                                </div>
                            </div>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if user == note.provider or user == note.client %}
            <div class="card-footer text-center">
                <div class="d-flex align-items-center justify-content-between">
                    <h4>Управление</h4>
                    <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#note_{{ note.id }}_control_panel">
                        <i class="bi bi-arrow-down-up"></i>
                    </button>
                </div>
                <ul class="list-group list-group-flush collapse mt-2" id="note_{{ note.id }}_control_panel">
                    {% if user == note.provider %}
                        <li class="list-group-item">
                            <form class="col" method="post" action="{{ note.get_delete_url }}">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">
                                    Удалить запись <i class="bi bi-file-earmark-x"></i>
                                </button>
                            </form>
                        </li>
                        {% if note.is_need_approve %}
                        <li class="list-group-item">
                            <form class="col" method="post" action="{{ note.get_approve_url }}">
                                {% csrf_token %}
                                <input class="btn btn-info" type="submit" value="Подтвердить запись пользователя">
                            </form>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% if note.can_be_canceled %}
                    <li class="list-group-item">
                        <form class="col" method="post" action="{{ note.get_cancel_url }}">
                            {% csrf_token %}
                            <input class="btn btn-warning" type="submit" value="Отменить запись пользователя">
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>