<div class="card mt-5 text-center border-3">
    <h1 class="card-header">{{ service.label }}</h1>
    <div class="card-body row">
        {% if service.get_image_url != '' %}
        <img class="col-md-4" src="{{ service.get_image_url }}"
             alt="Картинка услуги {{ service.label }}">
        <div class="col-md-8 card-text fs-4 p-3">
        {% else %}
        <div class="col-md-12 card-text fs-4 p-3">
        {% endif %}
            {{ service.description }}
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between row row-cols-1 row-cols-md-3">
            <span class="col card-text">Видимость - {{ service.get_who_can_see_display }}</span>
            <span class="col card-text">Доступность записи - {{ service.get_who_can_record_display }}</span>
            <a class="col card-link" href="{% url 'profile' service.provider.pk %}">
                Поставщик ({{ service.provider }})
            </a>
        </div>
    </div>
</div>