{% extends 'base/base.html' %}


{% block main_content %}
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h2>Добавить услугу</h2>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#serviceCreateForm"
                    aria-controls="serviceCreateForm" aria-expanded="false">
                <i id="arrow" class="fs-3 fas fa-arrow-circle-down"></i>
            </button>
        </div>
        <div class="collapse" id="serviceCreateForm">
            {% include 'base/service_form.html' %}
        </div>
    </div>
    <div class="card mt-3">
        <h2 class="card-header">Список моих услуг</h2>
        {% include 'base/services_list_card_body.html' %}
    </div>
{% endblock %}