{% extends 'base/base.html' %}

{% block title %}
    Мои услуги
{% endblock %}

{% block main_content %}
        <h1 class="text-center m-5">Мои услуги</h1>
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h2>Добавить услугу</h2>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#serviceCreateForm"
                        aria-controls="serviceCreateForm" aria-expanded="false">
                    <i id="arrow" class="fs-3 fas fa-arrow-circle-down"></i>
                </button>
            </div>
            <div class="collapse" id="serviceCreateForm">
                <form method="post" action="{% url 'create_service' %}" enctype="multipart/form-data" class="card-body row g-2">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <label class="form-label fs-5" for="id_{{ service_form.label.name }}">{{ service_form.label.label }}</label>
                        {{ service_form.label }}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label fs-5" for="id_{{ service_form.image.name }}">{{ service_form.image.label }}</label>
                        {{ service_form.image }}
                    </div>
                    <div class="col-12">
                        <label class="form-label fs-5" for="id_{{ service_form.description.name }}">{{ service_form.description.label }}</label>
                        {{ service_form.description }}
                    </div>
                    <input class="btn btn-success" type="submit" value="Добавить">
                </form>
            </div>
        </div>
        <div class="card mt-3">
            <h2 class="card-header">Список моих услуг</h2>
            {% include 'base/services_list_card_body.html' %}
        </div>
{% endblock %}