{% extends 'base/base.html' %}

{% block title %}
    {{ service.label }} - {{ date }}
{% endblock %}


{% block main_content %}
    {% include 'base/service_wide_card.html' %}
    {% if service.provider == user %}
        <div class="card mt-3 border-3">
            <div class="card-header d-flex justify-content-between">
                <h2>Управление записью</h2>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#manageForms">
                    <i id="arrow" class="fs-3 fas fa-arrow-circle-down"></i>
                </button>
            </div>
            <div class="card-body row g-3 collapse" id="manageForms">
                <div class="col-md-6">
                    <form method="post" action="{{ single_form_url }}" class="card border-2">
                        {% csrf_token %}
                        <h3 class="card-header">Добавить одну карточку для записи</h3>
                        <div class="card-body p-3">
                            <div class="row row-cols-2 mb-2">
                                <div class="col">
                                    <label class="form-label fs-6" for="id_{{ single_form.time_start.name }}">{{ single_form.time_start.label }}</label>
                                    {{ single_form.time_start }}
                                </div>
                                <div class="col">
                                    <label class="form-label fs-6" for="id_{{ single_form.time_end.name }}">{{ single_form.time_end.label }}</label>
                                    {{ single_form.time_end }}
                                </div>
                            </div>
                            <label class="form-label fs-6" for="id_{{ single_form.addition.name }}">{{ single_form.addition.label }}</label>
                            {{ single_form.addition }}
                        </div>
                        <div class="card-footer text-center">
                            <input class="btn btn-success" type="submit" value="Добавить">
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form method="post" action="{{ multi_form_url }}" class="card border-2">
                        {% csrf_token %}
                        <h3 class="card-header">Сгенерировать список карточек для записи</h3>
                        <div class="card-body p-3">
                            <div class="row row-cols-3 mb-2">
                                <div class="col">
                                    <label class="form-label fs-6" for="id_{{ multi_form.day_time_start.name }}">
                                        {{ multi_form.day_time_start.label }}
                                    </label>
                                    {{ multi_form.day_time_start }}
                                </div>
                                <div class="col">
                                    <label class="form-label fs-6" for="id_{{ multi_form.time_interval.name }}">
                                        {{ multi_form.time_interval.label }}
                                    </label>
                                    {{ multi_form.time_interval }}
                                </div>
                                <div class="col">
                                    <label class="form-label fs-6" for="id_{{ multi_form.day_time_end.name }}">
                                        {{ multi_form.day_time_end.label }}
                                    </label>
                                    {{ multi_form.day_time_end }}
                                </div>
                            </div>
                            <label class="form-label fs-6" for="id_{{ multi_form.multi_addition.name }}">
                                {{ multi_form.multi_addition.label }}
                            </label>
                            {{ multi_form.multi_addition }}
                        </div>
                        <div class="card-footer text-center">
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <input class="btn btn-success" type="submit" name="create" value="Добавить">
                                </div>
                                <div class="col-md-9">
                                    <input class="btn btn-primary" type="submit" name="save" value="Добавить записи и сохранить паттерн">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {% if patterns %}
                    <div class="col-12">
                        <div class="card border-2">
                            <h3 class="card-header">Сохранённые паттерны генрации</h3>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    {% for pattern in patterns %}
                                        <li class="list-group-item d-flex justify-content-between row row-cols-2">
                                            <span class="col fs-5">{{ pattern.object }}</span>
                                            <div class="col text-end">
                                                <a class="btn btn-success" href="{{ pattern.execute_url }}">
                                                    Использовать паттерн
                                                </a>
                                                <a class="btn btn-primary" href="{{ pattern.edit_url }}">
                                                    Редактировать в форме
                                                </a>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if object_list %}
                    <div class="card border-2 border-danger">
                        <div class="card-header d-flex justify-content-between">         
                            <h3>Удалить все записи</h3>
                            <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#multiDelete">
                                <i class="fs-3 fas fa-arrow-circle-down"></i>
                            </button>
                        </div>
                        <div class="card-body collapse" id="multiDelete">
                            <form class=" text-center" action="{{ multi_delete_url }}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Удалить</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="card mt-3 text-center border-3">
        <h2 class="card-header font-monospace">{{ date }}</h2>
        <div class="card-body">
            <div class="row g-3 justify-content-around">
                {% for object in object_list %}
                    <div class="col-md-4">
                        <div class="card border-2">
                            <h3 class="card-header font-monospace m-1">
                                {{ object.time_start }} - {{ object.time_end }}
                            </h3>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    {% if object.addition is not None %}
                                        <li class="list-group-item">
                                            <span>{{ object.addition }}</span>
                                        </li>
                                    {% endif %}
                                    <li class="list-group-item">
                                        <span class="{{ object.status_css }}">{{ object.status_name }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <form method="post" action="">
                                            <div class="row row-cols-1 g-2">
                                                <div class="col">
                                                    <input class="form-control" type="text" name="additional_info"
                                                        placeholder="Дополнительная информация для поставщика">
                                                </div>
                                                <div class="col text-center">
                                                    <input class="btn btn-success" type="submit" value="Записаться">
                                                </div>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            {% if service.provider == user %}
                                <div class="card-footer text-center">
                                    <form method="post" action="{{ object.get_delete_url }}">
                                        {% csrf_token %}
                                        <input class="btn btn-danger" type="submit" value="Удалить запись">
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}