{% extends 'base/base.html' %}

{% block title %}
    {{ object.label }}
{% endblock %}

{% block extra_head %}
    <style>
        .row-cols-7 .col-1 {
            width: 13%;
            *width: 13%;
            padding: 6px 3px;
            text-align: center;
            margin: 1px;
            border: 1px solid black;
            font-size: 1.5rem;
        }

        @media (min-width: 992px) {
            .row-cols-7 .col-1 {
                padding: 10px 5px;
                border: 2px solid black;
            }
        }
    </style>
{% endblock %}

{% block main_content %}
    <div class="card mt-5 text-center border-3">
        <h1 class="card-header">Запись на {{ object.label }}</h1>
        <div class="card-body row">
            {% if object.get_image_url %}
            <img class="col-md-4" src="{{ object.get_image_url }}"
                 alt="Картинка услуги {{ object.label }}">
            <div class="col-md-8 card-text p-3">
            {% else %}
            <div class="col-md-12 card-text p-3">
            {% endif %}
                {{ object.description }}
            </div>
        </div>
        <div class="card-footer text-end">
            <a class="card-link text-muted" href="{% url 'profile' object.provider.pk %}">
                Поставщик ({{ object.provider }})
            </a>
        </div>
    </div>
    <div class="card mt-2 text-center border-3">
        <h2 class="card-header">Зелёным обозначены дни, в которые можно записаться</h2>
        <div class="card-body">
            <div class="row justify-content-center text-center p-3">
                <button class="col btn btn-primary border-dark border-2" id="leftArrow">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <h3 class="col-6" id="calendarLabel"></h3>
                <button class="col btn btn-primary border-dark border-2" id="rightArrow">
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
            <div class="row row-cols-7 justify-content-center">
                <div class="col-1 h4">Пн</div>
                <div class="col-1 h4">Вт</div>
                <div class="col-1 h4">Ср</div>
                <div class="col-1 h4">Чт</div>
                <div class="col-1 h4">Пт</div>
                <div class="col-1 h4">Сб</div>
                <div class="col-1 h4">Вс</div>
            </div>
            <div class="row row-cols-7 justify-content-center" id="calendarBody">
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script>
        "use strict"

        class SwitchingCalendar{
            constructor(body_id, label_id, left_id, right_id) {
                this.calendar_body = document.getElementById(body_id);
                this.calendar_label = document.getElementById(label_id);
                this.left_switcher = document.getElementById(left_id);
                this.right_switcher = document.getElementById(right_id);
                this.current_date = new Date();
                this.fillCalendar();
                this.left_switcher.addEventListener('click', () => {this.changeMonth(-1);});
                this.right_switcher.addEventListener('click', () => {this.changeMonth(1);});
            }

            static MONTHS = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"]
            static COLORS = {
                'empty': 'btn-warning',
                'active': 'btn-success',
                'filled': 'btn-danger',
            }

            static getEmptyCalCell() {
                let obj = document.createElement('div');
                obj.className = 'col-1 btn btn-warning';
                return obj;
            }

            getCalCell(day, type) {
                let obj = document.createElement('a');
                let date = this.current_date;
                obj.href = '{{ object.get_absolute_url }}' + date.getFullYear() + '/' + String(date.getMonth()+1) + '/' + day + '/';
                obj.textContent = day;
                obj.className = 'col-1 btn ' + SwitchingCalendar.COLORS[type];
                return obj;
            }

            setCalLabel() {
                this.calendar_label.textContent = SwitchingCalendar.MONTHS[this.current_date.getMonth()] + ' ' + this.current_date.getFullYear();
            }

            appendCellInCalendar(cell) {
                this.calendar_body.appendChild(cell);
            }

            resetCalendar() {
                while (this.calendar_body.childNodes.length > 0) {
                    this.calendar_body.removeChild(this.calendar_body.firstChild);
                }
            }

            changeMonth(delta) {
                this.current_date = new Date(this.current_date.getFullYear(), this.current_date.getMonth()+delta);
                this.fillCalendar();
            }

            fillCalendar() {
                this.resetCalendar();
                this.setCalLabel();

                let first_day = new Date(this.current_date.getFullYear(), this.current_date.getMonth(), 1)
                let last_day = new Date(this.current_date.getFullYear(), this.current_date.getMonth()+1, 0)
                let gaps_start = first_day.getDay() == 0 ? 6 : first_day.getDay() - 1;
                let gaps_end = last_day.getDay() == 0 ? 0 : 7 - last_day.getDay();

                for (let i = 0; i < gaps_start; ++i) {
                    this.appendCellInCalendar(SwitchingCalendar.getEmptyCalCell());
                }

                for (let i = 0; i < last_day.getDate(); ++i) {
                    if (Math.random() > 0.5)
                        this.appendCellInCalendar(this.getCalCell(i+1, 'active'));
                    else
                        this.appendCellInCalendar(this.getCalCell(i+1, 'filled'));
                }

                for (let i = 0; i < gaps_end; ++i) {
                    this.appendCellInCalendar(SwitchingCalendar.getEmptyCalCell());
                }
            }
        }
    </script>
    <script>
        let calendar_instance = new SwitchingCalendar('calendarBody', 'calendarLabel', 'leftArrow', 'rightArrow');
    </script>
{% endblock %}