{% extends 'base/base.html' %}

{% block title %}
    {{ service.label }} - {{ date }}
{% endblock %}


{% block main_content %}
    <div class="card mt-5 text-center border-3">
        <h1 class="card-header">{{ service.label }}</h1>
        <div class="card-body row">
            {% if service.get_image_url != '' %}
            <img class="col-md-4" src="{{ service.get_image_url }}"
                 alt="Картинка услуги {{ service.label }}">
            <div class="col-md-8 card-text p-3">
            {% else %}
            <div class="col-md-12 card-text p-3">
            {% endif %}
                {{ service.description }}
            </div>
        </div>
        <div class="card-footer text-end">
            <a class="card-link text-muted" href="{% url 'profile' service.provider.pk %}">
                Поставщик ({{ service.provider }})
            </a>
        </div>
    </div>
    {% if service.provider == user %}
        <div class="card mt-3 border-3">
            <div class="card-header d-flex justify-content-between">
                <h2>Управление записью</h2>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#manageForms">
                    <i id="arrow" class="fs-3 fas fa-arrow-circle-down"></i>
                </button>
            </div>
            <div class="card-body row g-3 collapse" id="manageForms">
                <div class="col-md-6">
                    <form action="" class="card border-2">
                        <h4 class="card-header">Добавить одну карточку для записи</h4>
                        <div class="card-body p-3">
                            <div class="row row-cols-2 mb-2">
                                <div class="col">
                                    <label class="form-label fs-6" for="id_{{ single_form.time_start.name }}">{{ single_form.time_start.label }}</label>
                                    {{ single_form.time_start }}
                                </div>
                                <div class="col">
                                    <label class="form-label fs-6" for="id_{{ single_form.time_end.name }}">{{ single_form.time_end.label }}</label>
                                    {{ single_form.time_end }}
                                </div>
                            </div>
                            <label class="form-label fs-6" for="id_{{ single_form.addition.name }}">{{ single_form.addition.label }}</label>
                            {{ single_form.addition }}
                        </div>
                        <div class="card-footer text-center">
                            <input class="btn btn-success" type="submit" value="Добавить">
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form action="" class="card border-2">
                        <h4 class="card-header">Сгенерировать список карточек для записи</h4>
                        <div class="card-body p-3">
                            <div class="row row-cols-3 mb-2">
                                <div class="col">
                                    <label class="form-label fs-6" for="id_{{ multi_form.day_time_start.name }}">
                                        {{ multi_form.day_time_start.label }}
                                    </label>
                                    {{ multi_form.day_time_start }}
                                </div>
                                <div class="col">
                                    <label class="form-label fs-6" for="id_{{ multi_form.time_interval.name }}">
                                        {{ multi_form.time_interval.label }}
                                    </label>
                                    {{ multi_form.time_interval }}
                                </div>
                                <div class="col">
                                    <label class="form-label fs-6" for="id_{{ multi_form.day_time_end.name }}">
                                        {{ multi_form.day_time_end.label }}
                                    </label>
                                    {{ multi_form.day_time_end }}
                                </div>
                            </div>
                            <label class="form-label fs-6" for="id_{{ multi_form.multi_addition.name }}">
                                {{ multi_form.multi_addition.label }}
                            </label>
                            {{ multi_form.multi_addition }}
                        </div>
                        <div class="card-footer text-center">
                            <input class="btn btn-success" type="submit" value="Добавить">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="card mt-3 text-center border-3">
        <h2 class="card-header font-monospace">{{ date }}</h2>
        <div class="card-body">
            <div class="row g-3 justify-content-around">
                {% for object in object_list %}
                    <div class="col-md-4">
                        <div class="card border-2">
                            <div class="card-body">
                                <div class="card-text font-monospace m-1">
                                    {{ object.time_start }} - {{ object.time_end }}
                                </div>
                                {% if object.addition is not None %}
                                    <div class="card-text m-2">{{ object.addition }}</div>
                                {% endif %}
                                <div class="card-text mb-3">
                                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                                        data-target="#collapseForm1">
                                        <i class="fas fa-arrow-circle-down"></i>
                                    </button>
                                </div>
                                <form action="" class="card collapse" id="collapseForm1">
                                    <div class="card-body">
                                        <input class="form-control m-2" type="text" name="additional_info"
                                            placeholder="Дополнительная информация">
                                        <input class="btn btn-success m-2" type="submit" value="Записаться">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}