{% extends 'base/base.html' %}


{% block main_content %}
    {% if user.is_authenticated %}
        <a class="w-100 fs-3 mb-3 btn btn-success" href="{% url 'my_services' %}">
            Создать услугу
        </a>
    {% endif %}
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h2>Поиск</h2>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#search_form">
                <i class="bi bi-arrow-down-up"></i>
            </button>
        </div>
        <div class="card-body collapse" id="search_form">
            <form class="row g-2" method="post">
                {% csrf_token %}
                <div class="col-md-6">
                    <label class="form-label fs-5" for="id_{{ form.label.name }}">{{ form.label.label }}</label>
                    {{ form.label }}
                </div>
                <div class="col-md-6">
                    <label class="form-label fs-5" for="id_{{ form.description.name }}">{{ form.description.label }}</label>
                    {{ form.description }}
                </div>
                    <button class="col-12 btn btn-primary fs-4 w-100" type="submit">Искать  <i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>
    <div class="card mt-3">
        <h2 class="card-header">Список услуг</h2>
        <div class="card-body">
            {% include 'base/services_list.html' %}
        </div>
    </div>
{% endblock %}