{% extends 'base/base.html' %}

{% block title %}
    Список услуг
{% endblock %}

{% block main_content %}
    <h1 class="text-center m-5">Услуги</h1>
    <div class="card">
        <h2 class="card-header">Поиск</h2>
        <div class="card-body">
            <form class="row g-2" method="post">
                {% csrf_token %}
                <div class="col-md-6">
                    <label class="form-label fs-5" for="id_{{ form.label.name }}">{{ form.label.label }}</label>
                    {{ form.label }}
                </div>
                <div class="col-md-6">
                    <label class="form-label fs-5" for="id_{{ form.description.name }}">{{ form.description.label }}</label>
                    {{ form.description }}
                </div>
                    <button class="col-12 btn btn-primary" type="submit">Искать</button>
            </form>
        </div>
    </div>
    <div class="card mt-3">
        <h2 class="card-header">Список услуг</h2>
        {% include 'base/services_list_card_body.html' %}
    </div>
{% endblock %}