{% extends 'base/base.html' %}
{% block title %}
    Аккаунт активирован
{% endblock %}

{% block main_content %}
    <div class="card m-5">
        <h1 class="card-header text-center">Активация прошла успешно</h1>
        <h2 class="card-body">Поздравляю, теперь вам доступен весь функционал сайта</h2>
        <div class="card-footer row g-2 text-center">
            <div class="col-md-4">
                <a class="btn btn-primary w-100" href="{% url 'index' %}">На главную</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-success w-100" href="#">Мой профиль</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary w-100" href="#">Мои услуги</a>
            </div>
        </div>
    </div>
{% endblock %}