{% extends 'base/base.html' %}

{% block title %}
    Регистрация
{% endblock %}

{% block main_content %}
    <h1 class="text-center m-5">Регистрация</h1>
    <div class="card border-2 border-danger m-1 mb-3">
        <h2 class="card-header">Ошибки регистрации или входа</h2>
        <ul class="card-body list-group list-group-flush">
            {% for error in form.errors %}
                <li class="card-text list-group-item">{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <form action="{% url 'register' %}" method="post" class="card m-1">
        <div class="card-body m-2 p-2 row">
            {% csrf_token %}
            {% for field in form %}
                <div class="card-text p-2 col-md-6">
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <div class="card-footer text-center">
            <input type="submit" class="btn btn-primary border-2" value="Зарегистрироваться">
        </div>
    </form>
{% endblock %}