<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{{ title }}{% endblock %}
    </title>

    <link rel="preload" href="{% static 'bi-font/bootstrap-icons.css' %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link href="{% static 'bi-font/bootstrap-icons.css' %}" rel="stylesheet" type="text/css">
    </noscript>

    <link href="{{ theme_css_url }}" rel="stylesheet" type="text/css">

    {% block extra_head %}

    {% endblock %}
</head>

<body>
    <header>
        {% include 'base/menu.html' %}
        {% block extra_header %}

        {% endblock %}
    </header>

    <main>
        <div class="container pt-5">
            {% include 'base/messages.html' %}
            {% include 'base/form_errors.html' %}
            <h1 class="text-center m-5">
                {% if main_h1 != '' %}
                    {% if main_h1 is None %}
                        {{ title }}
                    {% else %}
                        {{ main_h1 }}
                    {% endif %}
                {% endif %}
            </h1>
            {% block main_content %}

            {% endblock %}
        </div>
    </main>

    <footer class="footer py-3 bg-dark text-light mt-5">
        {% block pre_footer %}

        {% endblock %}
        <div class="container">
            &copy; 2021, Козлов К.В.
        </div>
        {% block post_footer %}

        {% endblock %}
    </footer>

    <script src="{% static 'bootstrap5/js/bootstrap.min.js' %}" rel="script" type="module" async></script>
    {% block extra_script %}

    {% endblock %}
</body>
</html>