<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <div class="row row-cols-2 col-12 col-md-2 d-flex align-items-center">
            <div class="col">
                <a class="navbar-brand h1" href="{% url 'index' %}">Simple Notebook</a>
            </div>
            <button class="navbar-toggler border-2 col" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse row col-12 col-md-10 justify-content-between" id="navbarSupportedContent">
            <div class="navbar-nav col-12 col-md-10 md-justify-content-start">
                {% for link in menu %}
                    <a class="nav-link ms-3 ms-md-0" href="{{ link.url }}">{{ link.name }}</a>
                {% endfor %}
            </div>
            {% if user.is_authenticated %}
                <div class="text-end col-12 col-md-2">
                    <a class="btn btn-danger" href="{% url 'logout' %}">Выйти</a>
                </div>
            {% else %}
                <div class="d-flex justify-content-end col-12 col-md-2 row row-cols-2">
                    <div class="text-center col">
                        <button class="btn btn-success" type="submit" data-target="#loginForm" data-toggle="modal">Вход</button>
                    </div>
                    <div class="text-center col">
                        <a class="btn btn-warning" href="{% url 'register' %}">Регистрация</a>
                    </div>
                </div>
                {% include 'auth/login_form_modal.html' %}
            {% endif %}
        </div>
    </div>
</nav>