{% extends 'base/base.html' %}

{% block main_content %}
    {% if user.is_authenticated %}
        <div class="card border-2">
            <h2 class="card-header">Записи на сегодня</h2>
            <div class="card-body">
                {% include 'base/notes_list.html' %}
            </div>
        </div>
        <div class="card border-2 mt-3">
            <h2 class="card-header">Мои услуги</h2>
            <div class="card-body">
                {% include 'base/services_list.html' %}
            </div>
        </div>
    {% else %}
        {% include 'base/introduction_cards.html' %}
    {% endif %}
{% endblock %}