{% extends 'base/base.html' %}
{% block title %}
    {{ object.user }}
{% endblock %}

{% block main_content %}
    <h1 class="text-center m-5">Профиль пользователя {{ object.user }}</h1>
    <div class="card border-3 m-md-4">
        <div class="row">
            {% if object.get_avatar_url != '' %}
            <img class="col-md-6 img-fluid" src="{{ object.get_avatar_url }}" alt="Аватарка">
            <div class="col-md-6 card-text fs-3 list-group list-group-flush">
            {% else %}
            <div class="col-md-12 card-text fs-3 list-group list-group-flush">
            {% endif %}
                <div class="card-body">
                    <p class="list-group-item">{{ object.user.get_full_name }}</p>
                    <p class="font-monospace list-group-item">{{ object.user.email }}</p>
                    <p class="font-monospace list-group-item">Средняя оценка - {{ object.avg_mark }}/10</p>
                    <p class="list-group-item">{{ object.about }}</p>
                    <div class="list-group-item">
                        <a href="#" class="btn btn-success fs-4">
                            Посмотреть услуги пользователя <i class="fas fa-arrow-alt-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if user == object.user %}
        <div class="card border-3 m-md-4 mt-3">
            <h2 class="card-header">Редактирование профиля</h2>
            <form method="post" action="{% url 'profile' object.pk %}" enctype="multipart/form-data" class="card-body row g-2">
                {% csrf_token %}
                {% for field in form %}
                    <div class="col-md-6">
                        {{ field.label }}
                        {{ field }}
                    </div>
                {% endfor %}
                <input class="col-12 btn btn-success" type="submit" value="Сохранить изменения">
            </form>
        </div>
    {% endif %}
    <div class="card border-3 border-warning m-md-4 mt-3">
        <h2 class="card-header">Отзывы</h2>
        <div class="card-body">
            <div class="row g-3 justify-content-around">
                {% for feedback in object.feedbacks %}
                    <div class="col-md-4">
                        <div class="card border-2">
                            <div class="card-body">
                                <p class="font-monospace fs-2 text-center">{{ feedback.mark }}/10</p>
                                <p class="card-text">{{ feedback.text }}</p>
                            </div>
                            <div class="card-footer text-end">
                                <a href="{{ feedback.service_note.service.get_absolute_url }}" class="text-muted">
                                    {{ feedback.service_note.service.label }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}