{% extends 'base/base.html' %}

{% block main_content %}
    <div class="card border-3 m-1 m-md-4">
        <div class="row">
            {% if object.get_avatar_url != '' %}
            <img class="col-md-6 img-fluid" src="{{ object.get_avatar_url }}" alt="Аватарка">
            <div class="col-md-6 card-text fs-5 list-group list-group-flush">
            {% else %}
            <div class="col-md-12 card-text fs-5 list-group list-group-flush">
            {% endif %}
                <div class="card-body">
                    <p class="list-group-item">{{ object.user.get_full_name }}</p>
                    <p class="font-monospace list-group-item">{{ object.user.email }}</p>
                    {% if object.about %}
                        <p class="list-group-item fs-5">{{ object.about }}</p>
                    {% endif %}
                    <div class="list-group-item">
                        <a href="#user_services" class="btn btn-success fs-4">
                            Посмотреть услуги пользователя <i class="fas fa-arrow-alt-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if user == object.user %}
        <div class="card border-3 m-md-4 mt-3">
            <h2 class="card-header">Редактирование профиля</h2>
            <form class="card-body row g-2" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="col-md-6">
                        <label class="form-label fs-5" for="id_{{ field.name }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <input class="col-12 fs-4 btn btn-success" type="submit" value="Сохранить изменения">
            </form>
        </div>
        <div class="card border-3 m-md-4 mt-3">
            <h2 class="card-header">Изменение пароля</h2>
            <form class="card-body row g-2 d-flex justify-content-around" method="post" action="{% url 'password_change' user.pk %}">
                {% csrf_token %}
                {% for field in change_password_form %}
                    <div class="col-md-6">
                        <label class="form-label fs-5" for="id_{{ field.name }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <input class="col-12 fs-4 btn btn-success" type="submit" value="Изменить пароль">
            </form>
        </div>
    {% endif %}
    <div class="card border-3 m-md-4 mt-3" id="user_services">
        <h2 class="card-header">Услуги пользователя</h2>
        <div class="card-body">
            {% include 'base/services_list.html' %}
        </div>
    </div>
{% endblock %}